@media (max-width: 408px){
    * {
        scroll-padding-top: 5rem;
    }
    .container {
        max-width: 95%;
    }

    .container-play-page {
        max-width: 95%;
    }


}

@media (max-width: 1170px){
    .container {
        max-width: 1060;
        margin: auto;
        width: 100%;
    }
    .container-play-page {
        margin:auto;
        width: 95%;
        min-width: 95%;
    }
}

@media (max-width: 1060px){
    .container {
        /* max-width: 1060 !important; */
        margin: auto;
        width: 95%;
        min-width: 95%;
    }

    .container-play-page {
        margin:auto;
        width: 95%;
        min-width: 95%;
    }
}