/* Movie Box */

.movie-box {
    position: relative;
    width: 100%;
    height: 380px;   
    overflow: hidden;
}

.movie-box-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-box .box-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 14px;
    /* background: green; */
    background: linear-gradient(
        8deg, 
        hsl(240 17% 14%/ 74%) 14%, 
        hsl(240 17% 14%/ 14%) 44%);
    overflow: hidden;
}

.movie-title {
    font-size: 1.1rem;
    font-weight: 500
}

.movie-type {
    font-size: 0.938rem;
}

.play-btn {
    position: absolute;
    bottom: 0.8rem;
    right: 0.8rem;
}


/* Heading */

.heading {
    width: 100%;
    /* min-width: 714px; */
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--container-color);
    padding: 8px 14px;
    border: 1px solid hsl(200, 100%, 99%/5%);
    margin-bottom: 2rem;
}

.heading-title {
    font-size: 1.2rem;
    font-weight: 500;
}


/* Swiper Btns */

.swiper-btn {
    display: flex;
}

.swiper-button-next, 
.swiper-button-prev {
    position: static !important;
    margin: 0 0 0 10px !important;   

}

.swiper-button-next::after, 
.swiper-button-prev::after {
    color: var(--text-color);
    font-size: 18px !important;
    font-weight: 700;    
}

/* Movies */
/* 
.movies {
    padding: 10px 14px;
} */

.movies-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(247px, 1fr));
    gap: 1rem;
}

.movies-content .movie-box:hover .movie-box-img {
    transform: scale(1.1);
    transition: .5s;
}

/* Next Page */

.next-page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
}

.next-btn {
    background: var(--main-color);
    padding: 12px 20px;
    color: var(--text-color);
    font-weight: 500;
    /* transition: 0.3s all linear; */
}

.next-btn:hover {
    background: var(--hover-color);
    transition: 0.3s all linear;
}
